html {
  background-color: var(--secondary);
}
html {
  /** farver **/
  --primary: #012623;
  --secondary: #f2c1b6;
  --tertiary: #a64e5e;
  --quarternary: #ffff;

  /** spacing **/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --space-xxxl: 10;
}

* {
  box-sizing: border-box;
}
main {
  margin-inline: auto;
}

img {
  width: 100%;
}

/** fonte **/
h1 {
  font-family: "bad script", sans-serif;
  font-weight: 400;
  line-height: 150%;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-md);
  font-size: 3rem;
}
h2 {
  font-family: "libre baskerville", serif;
  overflow-wrap: break-word;
  hyphens: auto;
}
h3 {
  font-family: "inria sans", sans;
  font-weight: normal;
  /* padding-bottom: var(--space-sm); */
}

p {
  font-family: "Inter", sans;
  font-weight: normal;
  line-height: 1.6;
  padding-bottom: var(--space-sm);
}
a {
  color: #fff;

  font-family: "Inria Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.button {
  font-family: "inria sans", sans;
  color: var(--quarternary);
  padding: 0.4rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 73px;
  border: 4px solid #fff;
  background-color: #a64e5e;
  width: 230px;
  height: 58px;
}

/* menu general styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.menu-bar {
  position: fixed; /* Keeps the menu fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, /* Start with white, 20% opacity */ rgba(255, 255, 255, 0.2) 25%, /* Stay white at 25% */ rgba(219, 219, 219, 0.2) 41%, /* Transition to light gray at 41% */ rgba(196, 196, 196, 0.2) 59%, /* Move to mid-gray at 59% */ rgba(172, 172, 172, 0.2) 74%, /* Transition to darker gray at 74% */ rgba(160, 160, 160, 0.2) 86%, /* Darker gray at 86% */ rgba(153, 153, 153, 0.2) 100% /* End with the darkest gray */);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; /* Ensures the menu is on top of other elements */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.menu ul li {
  flex: 1;
  text-align: center;
  padding: 0 30px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s;
  text-wrap: nowrap;
}

.menu ul li a:hover {
  color: var(--tertiary);
}

/* Burger menu styles */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.burger-menu span {
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 800px) {
  .menu ul {
    display: none;
  }

  .burger-menu {
    display: flex;
    text-align: center;
  }

  .menu ul.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 16%;
  }

  .menu ul li {
    text-align: right;
    margin: 5px 0;
  }
}

/* ----------------------- */

.green_background {
  background-color: var(--primary);
}
.pink_background {
  background-color: var(--secondary);
}
.first_semester {
  display: grid;
  align-content: center;
  color: var(--quarternary);
  padding: var(--space-md);
}
.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  position: relative; /* To ensure text stays within this section */
}

.hero_img {
  grid-column: 1 / span 4; /* Image spans all columns */
  grid-row: 1 / span 4; /* Image spans all rows */
  position: relative; /* Needed for text overlay */
}

.hero_img img {
  width: 100%; /* Make the image responsive */
  height: auto;
}
.hero_text h1 {
  font-size: 2rem;
  text-wrap: nowrap;
}
.hero_text {
  grid-column: 1 / span 2; /* Position text in the bottom-left corner */
  grid-row: 3 / 5;
  align-self: end; /* Align text to the bottom of its grid area */
  justify-self: start; /* Align text to the left of its grid area */
  position: absolute; /* Position on top of the image */
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  color: white;
  margin-left: var(--space-md);
  margin-bottom: var(--space-xl);
}
.intro_text {
  color: var(--quarternary);
  margin-bottom: var(--space-xl);
  margin-inline: auto;
}
.about_text {
  color: var(--quarternary);
}
.button:hover {
  background-color: #ffffff;
  color: var(--tertiary);
}
.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--space-xs);
  padding: var(--space-md);
  color: var(--quarternary);
}
.skills img {
  width: 50%;
}
.zoom:hover {
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /*makes it keep the shape after the animation*/
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.project {
  padding: var(--space-md);
  text-align: left;
  color: var(--quarternary);
}
.project:last-child {
  order: 1;
}

.grid_1-1 {
  gap: 5%;
}
.grid_1_1 {
  padding: var(--space-md);
  margin-top: 14%;
}
.about_text {
  padding: var(--space-md);
  margin-inline: auto;
}

@media (max-width: 800px) {
  p {
    max-width: 42ch; /* Begrænser bredden til max 42 tegn på hver linje */
  }
  /* -----------Front page mobile------------ */
  .grid_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-wrap: pretty;
  }

  .grid_3 {
    padding: var(--space-md);
  }
}

@media (min-width: 800px) {
  p {
    max-width: 63ch; /* Begrænser bredden til max 63 tegn på hver linje */
  }
  .button {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
  /* -----------Front page desktop------------ */
  .grid_3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--space-md);
    padding: var(--space-md);
  }
  .hero_text h1 {
    font-size: 3rem;
  }
  .grid_1-1 {
    display: flex;
    gap: 5%;
  }
  .first_semester {
    display: grid;
    align-content: center;
    color: var(--quarternary);
    padding: var(--space-md);
  }
  .grid_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4%;
    padding: var(--space-sm);
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--space-md);
    margin-top: 10%;
  }
  .grid_1_1 img {
    width: 85%;
    margin-top: 5rem;
  }
  .about {
    grid-row: span 2;
  }
  .about_text,
  .intro_text {
    width: 50%;
  }
}

.order {
  order: -1;
}

/* -----------Web------------ */

.course_text {
  margin-top: 14%;
  padding: var(--space-md);
}
.grid_2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding: var(--space-md);
}
.footer_flex {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: var(--space-md); /* Adds spacing between items */
}

footer {
  display: flex; /* Ensures content inside the footer is flexed */
  justify-content: center; /* Centers the footer content horizontally */
  align-items: center; /* Centers the footer content vertically */
  padding: var(--space-sm);
  background-color: var(--primary);
}

.footer_flex a img {
  width: 60%; /* Ensures images are properly sized */
}
.icon a:hover {
  /* transition: transform(0.5s) ease;
  filter: opacity(2); */
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out;
}
